<!DOCTYPE html>
<html>
<head>
    <title>About - Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('navbar') %>
    
    <div class="container">
        <h1>About This Blog</h1>
        <p>This is a simple blog application built with Node.js and Express.</p>
        
        <div class="tech-stack">
            <h2>Technologies Used:</h2>
            <ul>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>MongoDB</li>
                <li>EJS Templates</li>
                <li>JWT Authentication</li>
                <li>bcrypt for password hashing</li>
            </ul>
        </div>
    </div>
</body>
</html>
