<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>

    <form action="/insertdata" method="post">
        id
        <input type="text" name="id" placeholder="id">

        name
        <input type="text" name="name" placeholder="name">

        <input type="submit" value="Add">
    </form>

    <br>

    <table border="1">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>

        <% student.forEach((el)=> { %>
            <tr>
                <td>
                    <%= el.id %>
                </td>
                <td>
                    <%= el.name %>
                </td>
                <td><a href="/delete?id=<%= el.id %>">Delete</a></td>
                <td><a href="/edit?id=<%= el.id %>">Edit</a></td>
            </tr>
            <% }) %>
    </table>

</body>

</html>