<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/insertdata" method="post">

        id :
        <input type="text" name="id" id="">

        name :
        <input type="text" name="name" id="">

        <input type="Submit" name="" id="">

    </form>

    <table border="1">

        <tr>
            <td>id</td>
            <td>name</td>
        </tr>

        <% student.map((el,i){ %>
            <tr>
                <td>
                    <%=el.id%>
                </td>
                <td>
                    <%=el.name%>
                </td>

                <td><a href="/delete?id=<%el.id%>"></a></td>

            </tr>
       <% }) %>

    </table>
    
</body>
</html>