<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/updatedata" method="post">

        id
        <input type="text" name="id_display" placeholder="id" value="<%= editData.id %>" disabled>

        <input type="hidden" name="id" value="<%= editData.id %>">

        name
        <input type="text" name="name" value="<%= editData.name %>" placeholder="name">

        <input type="submit" value="Update">

    </form>


</body>

</html>